<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h6>About Us</h6>
                        <h2>We Leave A Delicious Thing For The Pet You Love</h2>
                    </div>
                    <p>
                        TreatOs is one of the best Shop Online Shop Where you Can Food For Your Cat with Lowest Price. Our Sold Foods are very Healthy Because We Care for your cat.
                        <br><br>
                        আপনাদের সুবিদার্থে আমাদের আমাদের ১০ টি ফ্রি ডেলিভারি পয়েন্ট রয়েছে ।
                        ফ্রি ডেলিভারি পয়েন্ট :
                        শিববাড়ি,সাত রাস্তা, পাওয়ার হাউস মোড়,গাজী মেডিকেল /ময়লা পোতা,সোনাডাঙ্গা আবাসিক, স্টেশন রোড,শহীদ হাদিস পার্ক, পি টি আই মোড়, বড় মাঠ ।
                        আমাদের এড্রেস : ১৬৫/২ শেরে বাংলা রোড, খুলনা । ৬৭ স্টেশন রোড, খুলনা
                    </p>
                    <div class="row">
                        @*<div class="col-4">
                            <img src="~/assets/images/about-thumb-01.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img src="~/assets/images/about-thumb-02.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img src="~/assets/images/about-thumb-03.jpg" alt="">
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="right-content">
                    <div class="thumb">
                        <img src="~/assets/images/about-video-bg.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
