<section class="section" id="reservation">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h6>Order Food From Us</h6>
                        <h2>Here You Can make an order For Cat Food</h2>
                    </div>
                    <p>
                        আপনার অর্ডার কন্ফার্ম করতে নিচের নম্বরে যোগাযোগ করুন
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="phone">
                                <i class="fa fa-phone"></i>
                                <h4>Phone Numbers</h4>
                                <span><a>+8801533896571</a><br><a>+8801990129374</a></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="message">
                                <i class="fa fa-envelope"></i>
                                <h4>Emails</h4>
                                <span><a>hello@company.com</a><br><a>info@company.com</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
