<section class="section" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-heading">
                    <h6>Our Products</h6>
                    <h2>Our selection of Food with quality taste</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-item-carousel">
        <div class="col-lg-12">
            <div class="owl-menu-item owl-carousel">
                <div class="item">
                    <div class='card' style="background-image: url('/product_images/smart-sm.jpg');">
                        <div class="price"><h6>270 ৳</h6></div>
                        <div class='info'>
                            <h1 class='title'>স্মার্ট হেলথ (৪৮০ গ্রাম )[Kitten]</h1>
                            <p class='description'></p>
                            <div class="main-text-button">
                                <div class="scroll-to-section"><a href="#reservation">Order Now <i class="fa fa-angle-down"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class='card' style="background-image: url('/product_images/ben.jpg');">
                        <div class="price"><h6>৩২০৳</h6></div>
                        <div class='info'>
                            <h1 class='title'>বেন্টোনাইট লিটার(৫লিটার)</h1>
                            <p class='description'></p>
                            <div class="main-text-button">
                                <div class="scroll-to-section"><a href="#reservation">Order Now <i class="fa fa-angle-down"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class='card' style="background-image: url('/product_images/smart-sm.jpg');">
                        <div class="price"><h6>270 ৳</h6></div>
                        <div class='info'>
                            <h1 class='title'>স্মার্ট হেলথ (৪৮০ গ্রাম )[Adult]</h1>
                            <p class='description'></p>
                            <div class="main-text-button">
                                <div class="scroll-to-section"><a href="#reservation">Order Now <i class="fa fa-angle-down"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class='card' style="background-image: url('/product_images/wiskas.jpg');">
                        <div class="price"><h6>২৭০ ৳</h6></div>
                        <div class='info'>
                            <h1 class='title'>হুইস কাস  (৪৮০ গ্রাম )[Kitten]</h1>
                            <p class='description'></p>
                            <div class="main-text-button">
                                <div class="scroll-to-section"><a href="#reservation">Order Now <i class="fa fa-angle-down"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class='card' style="background-image: url('/product_images/smart.png');">
                        <div class="price"><h6>৬২০ ৳</h6></div>
                        <div class='info'>
                            <h1 class='title'>স্মার্ট হেলথ(১.২কে.জি)[Kitten]</h1>
                            <p class='description'></p>
                            <div class="main-text-button">
                                <div class="scroll-to-section"><a href="#reservation">Order Now <i class="fa fa-angle-down"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class='card' style="background-image: url('/product_images/wiskas.jpg');">
                        <div class="price"><h6>২৭০ ৳</h6></div>
                        <div class='info'>
                            <h1 class='title'>হুইস কাস  (৪৮০ গ্রাম )[Adult]</h1>
                            <p class='description'></p>
                            <div class="main-text-button">
                                <div class="scroll-to-section"><a href="#reservation">Order Now <i class="fa fa-angle-down"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class='card' style="background-image: url('/product_images/smart.png');">
                        <div class="price"><h6>৬২০ ৳</h6></div>
                        <div class='info'>
                            <h1 class='title'>স্মার্ট হেলথ(১.২কে.জি)[Adult]</h1>
                            <p class='description'></p>
                            <div class="main-text-button">
                                <div class="scroll-to-section"><a href="#reservation">Order Now <i class="fa fa-angle-down"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>                               
            </div>
        </div>
    </div>
</section>
