<section class="section" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-heading">
                    <h6>Our Products</h6>
                    <h2>Our selection of Food with quality taste</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-item-carousel">
        <div class="col-lg-12">
            <div class="owl-menu-item owl-carousel">
                <div class="item">
                    <div class='card' style="background-image: url('/product_images/smart.jpg');">
                        <div class="price"><h6>270 ৳</h6></div>
                        <div class='info'>
                            <h1 class='title'>স্মার্ট হেলথ (৪৮০ গ্রাম )</h1>
                            <p class='description'></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class='card' style="background-image: url('/product_images/162977044_1191208627980306_6022883803680779484_n.jpg');">
                        <div class="price"><h6>৬২০ ৳</h6></div>
                        <div class='info'>
                            <h1 class='title'>স্মার্ট হেলথ(১.২কে.জি)</h1>
                            <p class='description'></p>
                            <div class="main-text-button">
                                <div class="scroll-to-section"><a href="#reservation">Make Reservation <i class="fa fa-angle-down"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class='card' style="background-image: url('/product_images/162033480_829099707950608_716249248883708429_n.jpg');">
                        <div class="price"><h6>২৭০ ৳</h6></div>
                        <div class='info'>
                            <h1 class='title'>হুইস কাস  (৪৮০ গ্রাম )</h1>
                            <p class='description'></p>
                            <div class="main-text-button">
                                <div class="scroll-to-section"><a href="#reservation">Make Reservation <i class="fa fa-angle-down"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class='card' style="background-image: url('/product_images/ben.jpg');">
                        <div class="price"><h6>৩২০৳</h6></div>
                        <div class='info'>
                            <h1 class='title'>বেন্টোনাইট লিটার(৫লিটার)</h1>
                            <p class='description'></p>
                            <div class="main-text-button">
                                <div class="scroll-to-section"><a href="#reservation">Make Reservation <i class="fa fa-angle-down"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
