@page
@model IndexModel
@{
    ViewData["Title"] = "TreatOs - Best Food For Your Pet";
}

<div>
    <div id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="left-content">
                        <div class="inner-content">
                            <h4>TreatOs</h4>
                            <h6>Lowest price in town for Your Pet</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="main-banner header-text">
                        <div class="Modern-Slider">                            
                            <div class="item">
                                <div class="img-fill">
                                    <img width="700" src="~/images/cat-1.jpg" alt="">
                                </div>
                            </div>
                            <!-- // Item -->
                            <!-- Item -->
                            <div class="item">
                                <div class="img-fill">
                                    <img width="700" src="~/images/cat-2.jpg" alt="">
                                </div>
                            </div>
                            <!-- // Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <partial name="_About" />

    <partial name="_Products" />
    
    <partial name="_OrderFood" />    
</div>
